@font-face {
  font-family: 'Soyuz Grotesk Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Soyuz Grotesk Bold'), url('/static/fonts/Soyuz\ Grotesk\ Bold.woff') format('woff');
}
@font-face {
  font-family: 'Graphik';
  src: local('Graphik LCG Regular'), local('Graphik-LCG-Regular'),
    url('GraphikLCG-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: local('Graphik LCG Semibold'), local('Graphik-LCG-Semibold'),
    url('GraphikLCG-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

:root[data-theme="light"] {
  --page-bg: #F0F0E8;
  --switch-bg:#F5F5F6;
  --switch-circle-bg: #FEDC6E;
  --switch-circle-pos: 0.38rem;
  --icon-sun: #EEA10B;
  --icon-moon: #B1B0B5;
}
:root[data-theme="dark"] {
  --page-bg: #3C3A47;
  --switch-bg:#2D2C35;
  --switch-circle-bg: #7190FF;
  --switch-circle-pos: 3.44rem;
  --icon-sun: var(--icon-moon);
  --icon-moon: #DCE3FF;
}
:root {
  --default-border-radius: 8px;
  --default-transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, fill .3s ease-in-out, transform .3s ease-in-out;
}
#theme-switcher {
  background-color: var(--switch-bg);
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 1.33rem;
  cursor: pointer;
  padding: 0.66rem;
  position: relative;
  transform: var( --default-border-radius);
}
#theme-switcher::before {
  content: '';
  position: absolute;
  width: 2.3rem;
  height: 2.3rem;
  background-color: var(--switch-circle-bg);
  border-radius: 50px;
  z-index: 0;
  left:0;
  transform: translateX(var(--switch-circle-pos));
  transition: var(--default-transition); 
}
#theme-switcher svg {
  z-index: 1;
  transition: var(--default-transition); 
}
#icon-sun {
  fill: var(--icon-sun);
}
#icon-moon {
  fill: var(--icon-moon);
}

html {
  scroll-snap-type: y mandatory;
}

section{
  height: 580px;
  scroll-snap-align: center;
  display: flex;
  scroll-margin-top: 50px;
  align-items: center;
  justify-content: center;
}

a {
  font-family: 'Graphik LCG Regular';
}

span {
  font-family: 'Graphik LCG SemiBold';
}

h3 {
  font-family: 'Soyuz Grotesk Bold';
  font-size: clamp(20px, 8vw, 75px);
  margin-top: 1rem;
  margin-bottom: 3rem;
}

h4 {
  font-family: 'Soyuz Grotesk Bold';
  font-size: clamp(14px, 5vw, 55px);
  margin-top: 1rem;
  margin-bottom: 3rem;
}

#photo img {
  object-fit: cover;
  width: 100%;
}

#header-text {
  font-family: 'Soyuz Grotesk Bold';
  font-size: clamp(40px, 8vw, 110px)
}

.main-container {
	padding: 0 16px 16px 16px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--page-bg);
  justify-content: center;
  margin: 0 8px 8px 8px;
}

header {
	display: flex;
  width: 100%;
	align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  margin-bottom: 5rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--page-bg);
}

#nav-links {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}


#main-page {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  margin: 5rem;

}

#main-page #header-text {
  display: flex;
  flex-direction: column;
  font-family: 'Soyuz Grotesk Bold';
  font-size: clamp(28px, 8vw, 110px);
  align-items: center;
  padding-bottom: 2rem;
  justify-content: center;
}

#tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 3rem;
  column-gap: 3rem;
  justify-content: center; 
  align-items: center;  
}

#tag a {
  align-items: center;
  font-family: 'Graphik LCG Regular';
  font-size: clamp(9px, 5vw, 24px);
  font-weight: 400;
  word-wrap:normal;
  color: #132644;
  vertical-align: baseline;
  background-color: #AEDA4A;
  border-radius: 50px;
  padding: 10px 20px;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 5rem;
}

#info {
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
}

.info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info-skills {
  display: flex;
  flex-direction: row;
  column-gap: 5rem;
}

#icons-box {
  display: grid;
  grid-template-columns: 100px 100px;
  row-gap: 2rem;
}

#icons-box img {
  object-fit: cover;
  width: 70px;
}

.projects-container {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

#project-box img {
  object-fit: cover;
  width: 130px;
}



